@import url("https://fonts.googleapis.com/css?family=Courgette")
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300italic,400,600")
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light:300,300italic,400,600")
@import url("https://fonts.googleapis.com/css?family=Architects+Daughter:300,300italic,400,600")


body {
		font-family: 'Courgette', cursive;
		font-size: 18pt;
		line-height: 1.75em;
		font-weight: 300;
		letter-spacing: 1px;
		color: #3a3939;
		text-shadow: 0 0 0.5px rgba(58, 57, 57, 0.25);
		-webkit-text-stroke: 0.25px;
	}